@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


/* dark-1 */
.text-gray{
 color: #424242;
}

.text-primary{
    color: #FF900E;
}

/* dark-2 */
.text-light{
 color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* shaerd style */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    max-width: 700;
}
/* header style */

/* nav style */

.navbar{
 justify-content: space-between;
 align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin: 30px;
  
}

.nav-link{
  text-decoration: none;
  font-weight: 500px;
}

.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}
/* team and futre related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
margin-left: 130px;
max-width: 537px;
}

#quick-list{
    font-weight: 500;
}

/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 240px;
    height: 240px;
    justify-content: space-between;
   
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}
/* sponsor style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companis img{
    filter: grayscale(100%);
}
/* respomsive media quart */

@media screen and (max-width:576px) {
    .navbar, .nav-link, 
    .teams{
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container,
    .sponsor-companis{
        grid-template-columns: 1fr;
    }

    .facts-container, {
        justify-content: center;
        gap: 24px;
    }
    .sponsor-companis{
        justify-content: center;
        gap: 50px;
    }
    .our-features{
        margin: 20px;
    }
}

/* meduim device */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-featuresi{
    margin-left: 50px;
    }
    .sponsor-companis, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}



